// Zen custom styles

// Article and content.
.search-results {
  @include margin-block(2);
  > article {
    @include margin-block(1);

    > header {
      > h2 {
        // font-size: var(--fs-xxxxl);
        overflow-wrap: break-word;
      }
      > div > time {
        font-style : italic;
      }
    }

    > .content {
      @include margin-block(1);
    }
  }
}

// Search
/*
.search-input {
  // Add vertical rhythm margins.
  @include margin-block(1);
}

.search-text {
  font-size: var(--fs-l);
  max-width: 80%;
}
*/

// Re-Define code-font-size
$code-font-size:           1.25em !default;

.highlight {
  pre code {
    font-size: $code-font-size;
  }
}

