// Zen custom styles

// Article and content.
article > .content,
aside {
  font-size: var(--fs-xs);
}

article > header > h2 {
  font-size: var(--fs-xxxxl);
  overflow-wrap: break-word;
}

article > header > div > time {
  font-size: var(--fs-xxl);
  overflow-wrap: break-word;
}

.search-results {
  @include margin-block(5);
}

// Search
/*
.search-input {
  // Add vertical rhythm margins.
  @include margin-block(1);
}

.search-text {
  font-size: var(--fs-l);
  max-width: 80%;
}
*/
