{{ define "body_override" }}<body{{ if (eq .Page.Params.toc true) }} data-bs-spy="scroll" data-bs-target="#TableOfContents"{{ end }}>{{ end }}
{{ define "main" }}
{{- $enable_add := .Site.Params.enableCarbonAds -}}
  <div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
    {{ partial "sidebar" . }}

    <main class="bd-main order-1">
      <div class="bd-intro pt-2 ps-lg-2">
        {{ partial "view-github" . }}
        <p class="bd-lead">{{ .Page.Params.Description | markdownify }}</p>
        {{- if $enable_add -}}
          {{ partial "ads" . }}
        {{- end -}}
      </div>

      {{ if (eq .Page.Params.toc true) -}}
        {{ partial "right-toc.html" . }}
      {{- end }}

      <div class="bd-content ps-lg-2">
        {{ if .Page.Params.sections }}
          <div class="row g-3">
            {{ range .Page.Params.sections }}
            <div class="col-md-6">
              <a class="d-block text-decoration-none" href="../{{ urlize .title }}/">
                <strong class="d-block h5 mb-0">{{ .title }}</strong>
                <span class="text-secondary">{{ .description }}</span>
              </a>
            </div>
            {{ end }}
          </div>
        {{ end }}

        {{ .Content }}<br />
      </div>
    </main>
  </div>
{{ end }}
{{ define "footer" }}
  {{ range .Page.Params.extra_js -}}
    <script{{ with .async }} async{{ end }} src="{{ .src }}"></script>
  {{- end -}}
  <div class="position-fixed" aria-hidden="true"><input type="text" tabindex="-1"></div>
{{ end }}
