<aside class="bd-sidebar">
  <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="bdSidebar" aria-labelledby="bdSidebarOffcanvasLabel">
    <div class="offcanvas-header border-bottom">
      <h5 class="offcanvas-title" id="bdSidebarOffcanvasLabel">Browse docs</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdSidebar"></button>
    </div>

    <div class="offcanvas-body">
      {{ partial "docs-sidebar" . }}
    </div>
  </div>
</aside>
