| Kind | 説明 | 例 |
|----------------|--------------------------------------------------------------------|-------------------------------------------------------------------------------|
| `home` | ホームページのランディングページ | `/index.html` |
| `page` | 指定されたページのランディングページ | `my-post` ページ (`/posts/my-post/index.html`) |
| `section` | 指定されたセクションのランディングページ | `posts` セクション (`/posts/index.html`) |
| `taxonomy` | タクソノミーのランディングページ | `tags` タクソノミー (`/tags/index.html`) |
| `term` | あるタクソノミーの用語のランディングページ | `tags` タクソノミーの用語 `awesome` (`/tags/awesome/index.html`) |
